#DVD-container {
  width: inherit;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 0 36px;
  position: fixed;
  background-color: inherit;
  z-index: 1;

  .music-playing-content {
    color: whitesmoke;
    margin-bottom: 24px;

    h2,
    p {
      text-align: center;
      margin: 0;
    }

    p {
      color: violet;
    }
  }

  .dvd-content {
    width: 300px;
    .dvd {
      padding-top: 100%;
      border-radius: 100%;
      background: whitesmoke no-repeat center/cover;
    }
  }

  .buttons {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: whitesmoke;
    cursor: pointer;

    i {
      font-size: 28px;
    }

    i:hover {
      transition: 0.2s;
      transform: scale(1.05);
      opacity: 0.9;
      color: violet !important;
      transition: 0.2s !important;
    }

    .circle {
      width: 64px;
      height: 64px;
      background-color: transparent;
      border: 2px solid whitesmoke;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .play-button {
        font-size: 24px;
        transform: translateX(1px);
      }

      .pause-button {
        font-size: 24px;
        display: none;
      }
    }

    .circle:hover {
      transition: 0.2s;
      transform: scale(1.05);
      opacity: 0.9;
      border: 2px solid violet;
      color: violet;
      transition: 0.2s ;
    }
  }

  #progress-bar {
    margin-top: 12px;
    width: 80%;
  }

  @import "progress-bar";
}

