#music-list-container {
  margin-top: 645px;
  .music-lists {
    width: 100%;
    height: auto;
    padding: 0;

    .is-playing {
      color: violet;
      opacity: 1!important;

      h4 {
        color: whitesmoke;
      }
    }

    .music-list {
      list-style-type: none;
      background-color: #282845;
      margin: 12px 8px;
      padding: 12px;
      border-radius: 10px;
      display: flex;
      gap: 20px;
      align-items: center;
      opacity: 0.5;
      
      .circle {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: whitesmoke no-repeat center/cover;
      }

      .music-content {
        h4 {
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 12px;
        }
      }

      .music-duration {
        margin: 0 10px 0 auto;
        p {
          font-size: 9px;
        }
      }
    }

    .music-list:hover:not(.circle):not(.music-content):not(.music-duration) {
      transition: 0.1s;
      transform: scale(1.01);
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
