#music-list-container {
  margin-top: 645px;
  .music-lists {
    width: 100%;
    height: auto;
    padding: 0;

    .music-list {
      list-style-type: none;
      background-color: #282845;
      margin: 12px 8px;
      padding: 12px;
      border-radius: 10px;
      display: flex;
      gap: 20px;
      align-items: center;


      .circle {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: whitesmoke no-repeat center/cover;
      }

      .music-content {
        h4 {
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 12px;
        }
      }

      .music-duration {
        margin: 0 10px 0 auto;
        p {
          font-size: 10px;
        }
      }
    }
  }
}
