html {
  font-family: "Playwrite VN", serif;
  font-weight: 100;
  font-optical-sizing: auto;
  font-style: normal;
  color: whitesmoke;
}
html body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #282845;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body section {
  width: 390px;
  height: 844px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(1, 1, 1, 0.7);
  justify-self: center;
  background: #1e1f34;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}
html body section #DVD-container {
  width: inherit;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 0 36px;
  position: fixed;
  background-color: inherit;
  z-index: 1;
  /* Custom thumb */
  /* Firefox */
}
html body section #DVD-container .music-playing-content {
  color: whitesmoke;
  margin-bottom: 24px;
}
html body section #DVD-container .music-playing-content h2,
html body section #DVD-container .music-playing-content p {
  text-align: center;
  margin: 0;
}
html body section #DVD-container .dvd-content {
  width: 300px;
}
html body section #DVD-container .dvd-content .dvd {
  padding-top: 100%;
  border-radius: 100%;
  background: whitesmoke no-repeat center/cover;
}
html body section #DVD-container .buttons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: whitesmoke;
  cursor: pointer;
}
html body section #DVD-container .buttons i {
  font-size: 28px;
}
html body section #DVD-container .buttons i:hover {
  transition: 0.2s;
  transform: scale(1.05);
  opacity: 0.9;
}
html body section #DVD-container .buttons .circle {
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body section #DVD-container .buttons .circle .play-button {
  font-size: 24px;
  transform: translateX(1px);
}
html body section #DVD-container .buttons .circle .pause-button {
  font-size: 24px;
  display: none;
}
html body section #DVD-container .buttons .circle:hover {
  transition: 0.2s;
  transform: scale(1.05);
  opacity: 0.9;
}
html body section #DVD-container #progress-bar {
  margin-top: 12px;
  width: 80%;
}
html body section #DVD-container input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(to right, grey 0%, whitesmoke 0%);
  outline: none;
  transition: background 0.3s;
}
html body section #DVD-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}
html body section #DVD-container input[type=range]::-moz-range-progress {
  background: gray;
}
html body section #music-list-container {
  margin-top: 645px;
}
html body section #music-list-container .music-lists {
  width: 100%;
  height: auto;
  padding: 0;
}
html body section #music-list-container .music-lists .music-list {
  list-style-type: none;
  background-color: #282845;
  margin: 12px 8px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}
html body section #music-list-container .music-lists .music-list .circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: whitesmoke no-repeat center/cover;
}
html body section #music-list-container .music-lists .music-list .music-content h4 {
  margin: 0;
}
html body section #music-list-container .music-lists .music-list .music-content p {
  margin: 0;
  font-size: 12px;
}
html body section #music-list-container .music-lists .music-list .music-duration {
  margin: 0 10px 0 auto;
}
html body section #music-list-container .music-lists .music-list .music-duration p {
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */